body {
	#mini-menu {
		display:none;
	}
}

@media (max-width: 1024px ) {

	.main-container {

		.home {
			.banner {
				padding-left: 25px;
				padding-right: 25px;
			}
		}
	}
}

@media (max-width: 959px) {
	.col-centered {
		padding-left: 25px;
		padding-right: 25px;
	}
}

//meter media query
@media (max-width: 986px) {

	.col-right { float: none; }

	.col {
		position: relative;
		vertical-align: top;
		margin-left: -4px;
	}

	.col-1-2 { width: 100%; }

	.home {
		.main-links {
			a {
				display: block;
				width: 90%;
				height: 400px;
				margin: 0px auto;
			}
		}

		.news {
			padding-left: 25px !important;
			padding-right: 25px !important;
		}
	}

	.school-levels {

	}

	.info {

		.col {
			//display: block;
		}

		.form {
			form { overflow: hidden; }
		}
	}

	.contact {

		label {
			text-align: left;
			width: 30%;
		}

		input {
			float: right;
			width: 65%;
		}

		.button {

			float: none;
			margin: 0px auto;
			display: block;
		}

		select {
			float: right;
			width: 65%;
		}

		textarea {
			float: right;
			width: 65%;
		}

		.info {

			margin: 0 auto;

			.text {

				width: 90%;
				margin: 0px auto;

			}
		}
	}

	#main-header {
		text-align: center;

		.main-navigation { float: right; }
	}
}

@media (max-width: 920px) {

	.col-1-2 { width: 100%; }

	.home {
		.school-levels {
			a {
				display: block;
				width: 100%;
				height: 200px !important;
				padding-top: 96px !important;
				padding-bottom: 0px !important;
				background-size: 56px !important;
			}
		}

		.main-links {
			a {
				display: block;
				width: 90%;
				height: 350px;
				margin: 0px auto;
				background-size: cover;
			}
		}
	}

	.home {
		.footer-contact:before { display: none; }
	}

	.homework-container .steps:after { display: none; }

	.homework-container {
		text-align: center;

		h2 {
			/*text-align: center;*/
		}

		.maternal {
			ul {
				li {
					width: 100%;

					a {
						width: 100%;
					}
				}
			}
		}

		.kinder {

			ul {

				li {

					display: inline-block;
					width: 45%;
					margin: 10px 15px;

					a {

						display: inline-block;
						width: 100%;
						/*text-align: center;*/
					}

				}
			}

		}

		.primaria {

			ul {

				li {

					display: inline-block;
					width: 45%;
					margin: 10px 15px;

					a {

						display: inline-block;
						width: 100%;
						/*text-align: center;*/
					}

				}
			}

		}

	}
	/*hasta aca no va*/
}

@media (max-width: 855px ) {

	#main-header {
		padding-top: 20px;
		text-align: center;

		.logo { float: none; }

		.main-navigation {
			float: none;

			li {
				.dropdown { top: 64px; }
			}

			li.active {
				a {
					color: #ccc;
					background-color: #fff !important;
				}
			}

			a {
				padding-top: 20px;
				padding-bottom: 20px;

				&:hover { background-color: #fff !important; }
			}
		}
	}
}

@media (max-width: 831px ) {

	.contact {

		.phones {

			font-size: 0.9em;
		}
	}

}

@media (max-width: 815px ) {

	.col-1-2 {
		width: 100%;
	}

	.home {
		.main-links {
			a {
				display: block;
				width: 90%;
				height: 300px;
				margin: 0px auto;
				background-size: cover;
			}
		}
	}
/*preguntarle a julio que pedo con esto por que no le estoy entendiendo al comportamiento de estas cajas :S*/
	.food-of-the-month .foods .food:not(:last-child):after {
		display: none;
	}

	.food-of-the-month {
		width: 100%;

		.foods {
			width: 100%;

			ul { width: 100%; }

			.food {
				width: 100%;
				padding: 0px;

				.date,
				.breakfast,
				.dinner {
					position: relative;
					width: 100%;
					display: block;
				}

				.breakfast,
				.dinner { padding: 20px 20px; }

				.date {
					font-size: 3em;
					margin: 0px auto;
					padding-top: 0px;
				}
			}
		}
	}

	.why-us {
		.reasons {
			li {
				text-align: center;

				img {
					display: block;
					margin: 0 auto !important;
					float: none !important;
				}

				p,
				h2 {
					text-align: center !important;
				}
			}
		}
	}

}

@media (max-width: 770px) {
	.home {
		.news {
			width: 100%;
			margin: 0px auto;
			text-align: center;

			.col:after { display: none; }

			.date:after { display: none; }

			.col {
				display: block;
				width: 90%;
				float: center;
				margin: 60px auto;

				&:last-child { margin-right: auto !important; }
			}
		}
	}

	/*aqui aplicaremos cambio a la seccion de vida estudiantil,*/
	.main-container {
		.school-life {
			.info {
				.text,
				.main-image {
					display: block;
					width: 90%;
				}

				/*preguntarle a julio por que tubedificultades aqui*/

				.main-image {

					padding: 0 15px;
					width: 100%;

					/*margin-left: 20px;*/

				}

				.text {

					margin: 0 auto;
				}

				.gallery {

					h3,
					p {

						display: block;
						padding: 0 10%;

					}
				}
			}
		}
	}

	.school-levels {
		.col-3-4,
		.col-1-4 {
			width: 100%;
			padding: 0 !important;
		}
	}

	/*footer aqui te tengo */
	footer {
		.shortcuts,
		.contact { width: 50%; }

		.school-levels{	display: none; }
	}
}

@media (max-width: 720px ) {

	.birthday {

		.birthday-container {

			header {

				p { width: 90%; }
			}
		}
	}

	.contact {

		.button {
			float: center; /*si muevo este por rigth se sale del contenedor
			*/
			width: 100%;
		}
	}
}

@media (max-width: 712px ) {

	.col-1-2 {
		width: 100%;
	}

	.home {

		.main-links {

			a {

				display: block;
				width: 90%;
				height: 275px;
				margin: 0px auto;
				background-size: cover;
			}
		}
	}

	.homework-container {

		text-align: center;

		h2 {

			/*text-align: center;*/

		}

		.maternal {

			ul {

				li {

					width: 95%;
					margin: 10px 15px;


					a {

						width: 100%;
						/*text-align: center;*/
					}
				}
			}
		}

		.kinder {

			ul {

				li {

					display: inline-block;
					width: 95%;
					margin: 10px 15px;

					a {

						display: inline-block;
						width: 100%;
						/*text-align: center;*/
					}

				}
			}

		}

		.primaria {

			ul {

				li {

					display: inline-block;
					width: 95%;
					margin: 10px 15px;

					a {

						display: inline-block;
						width: 100%;
						/*text-align: center;*/
					}

				}
			}

		}

	}



}

@media (max-width: 658px ) {

	.col-1-2 {
		width: 100%;
	}

	.home {

		.main-links {

			a {
				display: block;
				width: 90%;
				height: 250px;
				margin: 0px auto;
				background-size: cover;
			}
		}
	}

	#main-header {
		padding-top: 0;

		.logo {
			margin-left: -10px;
			float: left;
		}

		nav {
			& > ul {
				display: none;

				&.visible { display: block; }
			}

			#mini-menu {
				position: absolute;
				right: 15px;
				top: 30px;
				display: block;
				width: 32px;
				height: 32px;
				overflow: hidden;
				background: url(images/menu-icon.png) no-repeat;
				text-indent: -1000px;
			}
		}

		/*estos fueron los cambios :S*/

		.main-navigation>ul>li>a { padding: 15px 20px }

		/*nav {

			 width: 100%;

			ul {

				width: 100%;

				li {

					width: 100%;
					display: block;

					a { width: 100%; }

				}
			}
		}*/

		.main-navigation {

			ul {

				li {

					display: block;
					width: 100%;

					a {

						width: 100%;
						text-align: left;
					}
				}

				.index-2,
				.index-3 {

					.dropdown {

						width: 100%;
						padding-left: 15px;
						/*background-color:green;*/
						margin-left: 15px;
						border-left: 5px solid #eee;
						display: block;
						position: static;

						li {

							display: block;
							width: 100%;

							a {

								width: 100%;
								/*background-color: green;*/
								border-bottom: 0px solid;
							}

						}
					}
				}
			}
		}
	}


}

@media (max-width: 604px ) {

	.col-1-2 { width: 100%; }

	.home {
		.main-links {
			a {
				display: block;
				width: 90%;
				height: 230px;
				margin: 0px auto;
				background-size: cover;
			}
		}
	}

	.info {
		.step {
			img,
			h3,
			p { display: block; }

			img {
				display: block;
				float: none !important;
				margin: 0 auto !important;
			}
		}
	}


}

@media (max-width: 585px ) {

	.contact {
		label {
			display: block !important;
			width: 100% !important;
			margin-bottom: 8px !important;
		}

		input,
		textarea,
		select {
			float: none !important;
			width: 100% !important;
		}
	}

	.school-life {

		h1 {

			width: 90%;
			color: black;

		}
	}
}

@media (max-width: 560px ) {

	.col-1-2 { width: 100%; }

	.home {
		.main-links {
			a {
				display: block;
				width: 90%;
				height: 210px;
				margin: 0px auto;
				background-size: cover;
			}
		}
	}

	.foods {
		h2 { padding: 0px 50px; }

		.days {
			li {
				display: block;
				width: 100%;
				padding: 5px;
			}
		}
	}

}

@media (max-width: 520px ) {

	.col-1-2 { width: 100%; }

	.home {
		.main-links {
			a {
				display: block;
				width: 90%;
				height: 185px;
				margin: 0px auto;
				background-size: cover;
			}
		}
	}

	.gallery {
		img {
			width: 50% !important;
		}
	}

	footer {

		.shortcuts,
		.school-levels { display: none; }

		.contact { width: 100%; }



	}

	/*.contact {

		.email {

			font-size: 0.8em;
		}

	}*/

}

@media (max-width: 468px ) {

	.col-1-2 {
		width: 100%;
	}

	.home {
		.main-links {

			a {

				display: block;
				width: 90%;
				height: 160px;
				margin: 0px auto;
				background-size: cover;
			}
		}
	}

	.gallery {
		img {
			width: 100% !important;
		}
	}

}

@media (max-width: 435px ) {
	.school-life {
		h2 { font-size: 1.7em; }
	}

	.home {
		.banner {
			text-align: center !important;

			h1 {
				text-align: center;
				font-size: 1.25em;
			}

		}
	}
}

@media (max-width: 414px ) {

	.col-1-2 { width: 100%; }

	.home {
		.main-links {

			a {
				display: block;
				width: 90%;
				height: 140px;
				margin: 0px auto;
				background-size: cover;
			}
		}
	}
}