/* SIZES */

$max-width : 1080px;

$main-title-size : 2em;
$sub-title-size : 1.25em;
$normal-text-size : 1em;

/* COLORS */
$dark-gray: #272b2e;
$light-gray: #dee8ee;
$gray: #818386;
$red: #cc0017;
$yellow: #fecc00;
$green: #51b347;