/* SIZES */

$max-width : 1080px;

$main-title-size : 2em;
$sub-title-size : 1.25em;
$normal-text-size : 1em;

/* COLORS */
$dark-gray: #272b2e;
$light-gray: #dee8ee;
$gray: #818386;
$red: #cc0017;
$yellow: #fecc00;
$green: #51b347;

/* SUSY  */
$susy: (
 	container: 1140px,
	columns: 16,  // The number of columns in your grid
	gutters: 1/4, // The size of a gutter in relation to a single column
	gutter-position: 'split',
);