.DS_Store
.idea
.idea/*

src/app/tmp/*

!src/app/tmp/cache
!src/app/tmp/logs
!src/app/tmp/sessions
!src/app/tmp/tests

src/app/tmp/cache/*
!src/app/tmp/cache/models
src/app/tmp/cache/models/*
!src/app/tmp/cache/persistent
src/app/tmp/cache/persistent/*
!src/app/tmp/cache/views
src/app/tmp/cache/views/*

src/app/tmp/logs/*
src/app/tmp/sessions/*
src/app/tmp/tests/*

src/app/config/core.php
src/app/config/database.php

src/app/webroot/tmp/*
src/app/webroot/media/*
src/app/webroot/.sass-cache
src/app/webroot/node_modules

docs/*
recursos/*