.DS_Store
.idea
.idea/*
.svn

src/sync_manual
src/sync_auto

src/app/config/core.php
src/app/config/database.php

#src/app/webroot/tmp/*
#src/app/webroot/media/*
src/app/webroot/.sass-cache
src/app/webroot/node_modules
src/app/webroot/css/css
src/app/webroot/css/modules

docs/*
recursos/*
*.annotated.js
*buy.min.js
src/app/webroot/css/style.min.css
src/app/webroot/css/style.css

src/reverse_cron
src/transaction_removed
src/reverse_transactions
sync_log
