#header-location-select {
  display: inline-block;
  margin-top: 30px;

  transition: margin 0.2s ease-in-out;
  -webkit-transition: margin 0.2s ease-in-out;
  -moz-transition: margin 0.2s ease-in-out;

  a {
    padding: 15px 80px 15px 60px;
    border-radius: 50px;
    font-size: 1.125em;
    font-weight: 300;
    color: #fff;
    background: $red url(../img/custom-select-arrow.png) no-repeat 95% center;
    background-size: 20px;

    .current {
      position: relative;
      font-weight: bold;
      font-style: italic;
      color: $yellow;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -30px;
        width: 1px;
        height: 25px;
        background-color: darken($red, 5%);
      }
    }

    &:hover { background-color: darken($red, 2%); }

    &:active {
      position: relative;
      top: 1px;
    }
  }

  .places {
    display: none;
  }
}

.selected-complex {
  display: block;
  padding: 8px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  color: $dark-gray;
  background-color: #cfd5d7;
  border-radius: 3px;

  &.selected {
    color: #fff;
    background: $green url(../img/complex-selected-icon.png) no-repeat 95% center;
  }

  &:hover { opacity: 0.7; }

  &:active {
    position: relative;
    top: 1px;
  }
}