#about-container {
  padding-bottom: 80px;

  h2 {
    font-size: 27px;
    font-weight: bold;
  }

  .about-info {
    max-width: span(12);
    margin: 0 auto;
    padding: 25px 0;
    overflow: hidden;

    img {
      margin-right: 20px;
      float: left;
    }

    p {
      color: $gray;
    }
  }

  .mission {
    text-align: right;

    img {
      margin-left: 20px;
      margin-right: 0;
      float: right;
    }
  }
}