#articles-container {
	.top-message {
		padding: 90px 0 70px;
		text-align: center;
		color: #818386;
		margin-top: 0;

		h1 {
			color: #CC0017;
			font-size: 42px;
			font-weight: 300;
			margin-bottom: 15px;
		}

	}
	.the-articles {


		article {
			position: relative;
			width: span(14);
			padding: 100px 0;
			margin-left: span(1) + gutter();
			border-bottom: 1px solid $light-gray;
			overflow: hidden;

			.date {
				display: block;
				margin-bottom: 20px;
				font-size: 12px;
				color: lighten($gray, 20%);

				a {
					color: $red;
				}
			}

			h2 {
				font-size: 32px;
				margin-bottom: 20px;
				font-weight: 300;
			}

			p {
				margin-bottom: 40px;
				line-height: 2;
				font-weight: 300;
				color: $gray;
			}

			.tags {
				@include span(12);

				li { float: left; }

				a {
					padding: 3px 8px;
					border-right: 1px solid $light-gray;
					color: $red;
					font-size: 12px;
				}

				li:last-child {
					a { border-right: none; }
				}
			}

			.see-more {
				display: block;
				@include span(4);
				padding: 8px 15px;
				text-align: center;
				color: #FFF;
				border-radius: 30px;
				background-color: $red;

				&:hover { background-color: darken($red, 5%); }

				&:active {
					position: relative;
					top: 1px;
				}
			}
		}

		li {
			margin-top: -1px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			&.with-image {
				position: relative;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.5);
				}

				article {
					color: #FFF;
					border-bottom: none;
				}

				p {
					color: #FFF;
				}
			}

			&:last-child {
				article {
					border-bottom: none;
				}
			}
		}
	}

	.articles-pagination {
		margin: 40px 0;
		text-align: center;

		span {
			display: inline-block;
			width: 32px;
			height: 32px;
			margin-right: 5px;
			border: 2px solid $gray;
			border-radius: 50%;
			vertical-align: top;

			&:last-child { margin-right: 0; }

			@include transition(border-color 0.2s ease-in-out);

			&:hover { border-color: transparentize($gray, 0.5); }

			&:active {
				position: relative;
				top: 1px;
			}

			&.current {
				border: none;
				padding-left: 1px;
				padding-top: 4px;
				color: #FFF;
				background-color: $red;
			}

			a {
				display: block;
				width: 32px;
				height: 32px;
				padding-top: 2px;
				margin-left: -1px;
				color: inherit;
			}
		}
	}
}

#article-detail {
	/*.col-container .info {
		@include span(14);
		margin-left: span(1) + gutter();
	  }*/

	.article-banner {
		position: relative;
		height: 170px;
		margin-bottom: 20px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		.info{
			color: $dark-gray;
			margin: 50px span(1)+gutter();


			h1 {
				font-size: 42px;
				font-weight: 300;
			}

			.date {
				font-size: 12px;
				a{
					color: $red;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}

		&.with-image{
			height: 600px;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 120px;
				@include gradientVertical(transparent, #000);
			}

			.info {
				position: absolute;
				bottom: 20px;
				color: #FFF;
				z-index: 2;
			}
		}
	}

	.article-content {
		margin: 0 span(1)+gutter() 60px;

		p {
			line-height: 2;
		}
	}

	.tags {
		overflow: hidden;
		margin-bottom: 60px;

		li { float: left; }

		a {
			padding: 3px 8px;
			border-right: 1px solid $light-gray;
			color: $red;
			font-size: 12px;
		}

		li:last-child {
			a { border-right: none; }
		}
	}

	.shares {
		padding: 30px 0;
		margin-bottom: 60px;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		text-align: center;

		strong {
			display: block;
			margin-bottom: 20px;
			font-size: 32px;
		}

		li {
			display: inline-block;
			margin-right: 5px;

			&:last-child { margin-right: 0; }
		}

		a {
			display: inline-block;
			width: 40px;
			height: 40px;
			text-indent: -1000px;
			background-repeat: no-repeat;
			background-position: left top;
			overflow: hidden;

			&.tw { background-image: url(../img/article-tw-icon.png); }
			&.fb { background-image: url(../img/article-fb-icon.png); }
			&.pn { background-image: url(../img/article-pn-icon.png); }
			&.gp { background-image: url(../img/article-gp-icon.png); }

			@include transition(opacity 0.2s ease-in-out);

			&:hover { opacity: 0.7; }

			&:active {
				position: relative;
				top: 1px;
			}
		}
	}

	.related-posts {
		margin-bottom: 60px;

		strong {
			display: block;
			margin-bottom: 20px;
			font-size: 32px;
			color: darken($gray, 10%);
		}

		li {
			position: relative;
			display: inline-block;
			width: 100%;
			margin-bottom: 20px;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -10px;
				width: 100px;
				height: 1px;
				background-color: $light-gray;
			}
		}

		h2 {
			margin-bottom: 8px;
			font-size: 27px;
			color: $gray;
			font-weight: 300;

			a {
				color: inherit;

				&:hover { color: darken($gray, 5%); }

				&:active {
					position: relative;
					top: 1px;
				}
			}
		}

		.date {
			color: $red;
			font-size: 12px;
		}
	}

	.comments {
		margin-bottom: 40px;
	}
}