.billboard-container {

  .top-message {
    position: relative;
    padding: 90px 15px 70px;
    margin-bottom: 40px;
    text-align: center;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -75px;
      width: 150px;
      height: 1px;
      background-color: $light-gray;
    }

    p {
      margin-top: 0;
      color: $gray;
    }
  }

  h1 {
    margin-bottom: 15px;
    font-size: 42px;
    font-weight: 300;
    color: $red;
  }

  .the-billboard { font-size: 0; }

  .billboard-aside {
    display: inline-block;
    width: 27%;
    margin-left: 3%;
    font-size: 16px;
    vertical-align: top;
    text-align: center;

    .filter {
      padding: 20px;
      margin-bottom: 20px;
      text-align: left;
      background-color: #f3f8f9;
      border-radius: 3px;

      .label {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        color: $gray;
      }
    }
  }

  .billboard-list {
    position: relative;
    display: inline-block;
    width: 70%;
    vertical-align: top;
    font-size: 16px;

    .complex-label {
      font-size: 14px;
      color: $gray;
    }

    .complex {
      padding-top: 5px;
      margin-bottom: 20px;
      font-size: 32px;
      font-weight: 300;
      color: $dark-gray;
    }

    li {
      display: table-row;
      padding: 10px 0;
    }

    .schedules {
      padding-bottom:80px;
      li {
        display: inline-block;
        padding: 0;
      }
    }

    .image-container,
    .schedules {
      display: table-cell;
      vertical-align: top;
    }

    .image-container {
      width: 200px;
    }

    img {
      display: block;
      width: 100%;
      border-radius: 3px;
    }

  }
}