.billboard-container {

  .top-message {
    position: relative;
    padding: 90px 15px 70px;
    margin-bottom: 40px;
    text-align: center;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -75px;
      width: 150px;
      height: 1px;
      background-color: $light-gray;
    }

    p {
      margin-top: 0;
      color: $gray;
    }
  }

  h1 {
    margin-bottom: 15px;
    font-size: 42px;
    font-weight: 300;
    color: $red;
  }

  .the-billboard { font-size: 0; }

  .billboard-aside {
    display: inline-block;
    width: span(4);
    margin-left: span(1) + gutter();
    font-size: 16px;
    vertical-align: top;
    text-align: center;

    .filter {
      padding: 20px;
      margin-bottom: 20px;
      text-align: left;
      border-radius: 3px;

      .label {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        color: $gray;
      }
    }
  }

  .billboard-list {
    position: relative;
    display: inline-block;
    width: span(11) + gutter();
    vertical-align: top;
    font-size: 16px;

<<<<<<< HEAD
    .complex-name {
      .complex-label{
        padding: 5px 10px;
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: 300;
        color: #fff;
        background: $dark-gray;
        @include border-radius(4px);
        display: inline-block;
      }
    }
=======
    h3 {
      a {
        color: $dark-gray;

        &:hover {
          color: $red;
        }
>>>>>>> 7d10b81c6f397273e6795a7441604d0342521e25

        &:active {
          position: relative;
          top: 1px;
        }
      }
    }

<<<<<<< HEAD
    .movieAnchor{
      position: relative;
      top: -80px;
    }

    .schedules {
      padding-bottom:80px;
      li {
        display: inline-block;
        padding: 0;
=======
    @include with-layout(11) {
      .complex-label {
        font-size: 14px;
        color: $gray;
>>>>>>> 7d10b81c6f397273e6795a7441604d0342521e25
      }

      .complex {
        padding-top: 5px;
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: 300;
        color: $dark-gray;
      }

      & > ul {
        & > li {
          padding: 25px 0;
          border-bottom: 1px solid #f1f1f1;
          overflow: hidden;
        }
      }

      .schedules {
        width: span(8);
        padding-bottom: 0;
        float: left;

        li {
          display: inline-block;
          padding: 0;
        }
      }

      .image-container {
        float: left;
        width: span(3) + gutter();
      }

      img {
        display: block;
        width: 100%;
        border-radius: 3px;

        @include transition(opacity 0.2s ease-in-out);

        &:hover { opacity: 0.7; }
        &:active {
          position: relative;
          top: 1px;
        }
      }
    }

  }
}