.billboard-container {

  .top-message {
    position: relative;
    padding: 90px 15px 70px;
    margin-bottom: 40px;
    text-align: center;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -75px;
      width: 150px;
      height: 1px;
      background-color: $light-gray;
    }

    p {
      margin-top: 0;
      color: $gray;
    }
  }

  h1 {
    margin-bottom: 15px;
    font-size: 42px;
    font-weight: 300;
    color: $red;
  }

  .the-billboard { font-size: 0; }

  .billboard-aside {
    display: inline-block;
    width: span(4);
    margin-left: span(1) + gutter();
    font-size: 16px;
    vertical-align: top;
    text-align: center;

    .filter {
      padding: 20px;
      margin-bottom: 20px;
      text-align: left;
      border-radius: 3px;

      .label {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        color: $gray;
      }
    }
  }

  .billboard-list {
    position: relative;
    display: inline-block;
    width: span(11) + gutter();
    vertical-align: top;
    font-size: 16px;

    .complex-name {
      .complex-label{
        padding: 5px 10px;
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: 300;
        color: #fff;
        background: $dark-gray;
        @include border-radius(4px);
        display: inline-block;
      }
    }
    h3 {
      a {
        color: $dark-gray;

        &:hover {
          color: $red;
        }


        &:active {
          position: relative;
          top: 1px;
        }
      }
    }

    .movieAnchor{
      position: absolute;
      top: -80px;
      width: 100px;
      height: 10px;
      display:block;
    }

    @include with-layout(11) {


      .movie {
          padding: 25px 0 64px;
          //border-bottom: 1px solid #f1f1f1;
          overflow: hidden;
          position: relative;
      }

      .schedules {
        width: span(8);
        padding-bottom: 0;
        float: left;

      }

      .image-container {
        float: left;
        width: span(3) + gutter();
      }

      img {
        display: block;
        width: 100%;
        border-radius: 3px;

        @include transition(opacity 0.2s ease-in-out);

        &:hover { opacity: 0.7; }
        &:active {
          position: relative;
          top: 1px;
        }
      }
    }

  }
}

.schedules{

  li {
    display: inline-block;
    padding: 0;

  }
  padding-left: 20px;
  padding-bottom: 40px;

  .movie-title {
    margin-bottom: 40px;
  }

  h3 {
    font-size: 27px;
    font-weight: 300;
  }

  .schedule-title {
    padding-left: 20%;
    margin-left: 8px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    display:block;
  }

  .clasification-duration {
    font-size: 14px;
    color: $gray;
  }

  .real-name {
    padding-left: 10px;
    font-family: 'georgia', serif;
    font-style: italic;
    font-size: 14px;
    color: $gray;
  }

  .schedule {
    font-size: 0;
    padding: 12px 12px 8px;

    transition: background-color 0.2s ease-in-out;

    &:hover { background-color: #eaf1f3; }

    .label,
    ul {
      display: inline-block;
      font-size: 16px;
      vertical-align: top;
    }

    .label {
      position: relative;
      width: 20%;
      font-size: 14px;

      strong {  font-weight: bold; }

      &:after {
        content: '';
        position: absolute;
        right: 8px;
        top: 50%;
        width: 10px;
        height: 1px;
        background-color: $gray;
      }
    }

    ul {
      width: 80%;
    }

    li {
      display: inline-block;
      padding: 0;
    }

    a {
      display: inline-block;
      margin:0 4px 4px;
      padding: 4px 10px;
      font-size: 14px;
      color: #fff;
      background-color: $red;
      border-radius: 3px;

      &:hover { background-color: darken($red, 5%); }
    }

    &.premiere {
      a {
        color: darken($yellow, 40%);
        background-color: $yellow;

        &:hover { background-color: darken($yellow, 5%) }
      }
    }
  }
}