.home {
	.home-highlights {
		position: relative;
		height: 650px;
		//background-color: $dark-gray;
		overflow: hidden;
		background: $dark-gray url("web/loading.gif") no-repeat center 600px;

		.movie {
			//display: none;
			@include opacity(0);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 650px;
			color: #FFF;
			//background-size: cover;
			@include background-size(cover);
			img{
				display: none;
			}

			&:first-child { display: block; }

			.movie-info-bg {
				position: absolute;
				top: 0;
				right: 0;
				width: 90%;
				height: 100%;
				padding-top: 30px;
				padding-right: 30px;
				padding-left: 380px;
				@include gradientHorizontal(transparent, #000);
			}

			.movie-info {
				position: relative;
				margin-top: 50px;
				@include span(8);
				margin-left: span(8) + gutter();
				z-index: 2;
				text-shadow: 0px 0px 10px #000;

				* { font-weight: 300; }

				.title {
					font-size: 58px;
					margin-bottom: 20px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				p {
					font-size: 16px;
					margin-bottom: 15px;
				}

				li {
					margin-bottom: 7px;
					font-size: 12px;
					color: #D4DDE5;

					strong {
						font-weight: bold;
						letter-spacing: 1px;
						text-transform: uppercase;
					}
				}

				.see-trailer {
					display: inline-block;
					margin-top: 50px;
					padding: 10px 50px 10px 80px;
					border: 2px solid rgba(255, 255, 255, .8);
					font-size: 14px;
					letter-spacing: 1px;
					color: #FFF;
					background: url(../img/white-trailer-icon.png) no-repeat 20px center;
					@include border-radius(50px);
					@include transition(border-color 0.2s ease-in-out);

					&:hover { border-color: lighten($gray, 10%); }
					&:active {
						position: relative;
						top: 1px;
					}
				}
			}
		}

		.pagination-container {
			//position: relative;
			//height: 100%;
			z-index: 3;
		}

		.pagination {
			z-index: 3;
			position: absolute;
			left: span(8)+gutter();
			bottom: 0;
			width: 100%;
			padding: 20px 30px 20px 0;
			border-top: 1px solid transparentize(#FFF, 0.5);
			white-space: nowrap;


			li {
				display: inline-block;
				margin-right: 5px;
			}

			a {
				display: inline-block;
				width: 12px;
				height: 12px;
				background-color: transparent;
				border-radius: 100%;
				text-indent: -1000px;
				border: 2px solid #FFF;
				overflow: hidden;

				&.current,
				&:hover {
					border: none;
					background-color: #FFF;
				}

				&:hover { opacity: 0.5; }
			}
		}
		.loading{
			height: 5px;
			width: 0%;
			background: transparentize(#fff,0.5);
			position: absolute;
			bottom:0;
			left:0;
			z-index: 8;
		}
	}

	.top-promo {
		margin-bottom: 20px;
		height: 10px;
		background-color: lighten($yellow, 25%);
		a {
			display: block;
			padding: 15px;
			text-align: center;
			letter-spacing: 2px;
			color: darken($yellow, 30%);
			background-color: lighten($yellow, 25%);

			&:hover { background-color: lighten($yellow, 30%); }
		}
	}

	.billboard {
		overflow: hidden;
		text-align: center;

		h1 {
			margin-top: 20px;
			margin-bottom: 5px;
			font-size: 2.5em;
			font-weight: 300;
			color: $red;
		}

		.description {
			display: block;
			width: 50%;
			margin: 0 auto;
			margin-bottom: 50px;
			font-size: 16px;
			font-weight: 300;
			color: $gray;
		}

		.movies {
			//@include container(20);

			font-size: 0;
			text-align: left;
			margin-bottom: 50px;

			.titleBillboard {
				margin-bottom: 20px;
				font-size: 34px;
				font-weight: 100;
				color: $dark-gray;

				strong {
					font-weight: bold;
				}
			}
		}

		@include with-layout(20) {
			//$map: layout(20 1/3 split);
			//@include layout($map);
			.movie {
				@include span(4 of 20);
				margin-bottom: 10px;
				font-size: 14px;
				color: $gray;
				vertical-align: top;
				position: relative;

				.image-container {
					position: relative;

					img {
						width: 100%;
						display: block;
					}

					&:hover {
						.details {
							opacity: 1;
						}
					}
				}

				.labels{
					font-size: 16px;
					font-weight: 600;
					position: absolute;
					top: 7px;
					left: 0px;
					@include transition(opacity 0.2s ease-in-out);
				}

				.presale {
					background: #FECC00;
					padding: 3px 10px;
					color: #353637;
				}

				.premiere {
					background: $red;
					padding: 3px 10px;
					color: #fff;
				}

				.details {
					position: absolute;
					left: 0;
					top: 0;
					opacity: 0;
					width: 100%;
					height: 100%;
					@include box-sizing(border-box);
					padding: 10px;
					//padding: 15px;
					color: #FFF;
					background-color: rgba(0, 0, 0, 0.85);
					border-radius: 3px;
					@include transition(opacity 0.2s ease-in-out);

					.title {
						display: block;
						margin-bottom: 10px;
						font-weight: bold;
						@include text-overflow();
					}

					.sinopsis {
						position: relative;
						height: 175px;
						overflow-y: auto;
						margin-bottom: 10px;
						font-size: 13px;
						color: $light-gray;
						.ps-scrollbar-y{
							background-color: $red;
						}
					}

					a {
						display: block;
						padding: 5px 10px;
						border: 1px solid #FFF;
						margin: 5px 0px;
						text-align: center;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						color: #FFF;
						border-radius: 5px;
						@include transition(opacity 0.2s ease-in-out);

						&:hover { border-color: lighten($gray, 5%); }

						&:active {
							position: relative;
							top: 1px;
						}
					}

					.buy-presale{
						background: $yellow;
						color: #353637;
						border:1px solid $yellow;
						&:hover{
							background: lighten($yellow,10%);
							border:1px solid $yellow;
						}
					}

				}

				img { border-radius: 3px; }

				.info {
					padding: 10px;
					text-align: left;

					h2 {
						margin-top: 0;
						margin-bottom: 5px;
						font-size: 15px;
						font-weight: normal;
						@include transition(opacity 0.2s ease-in-out);

						a {
							color: $gray;

							&:hover {
								color: darken($gray, 10%)
							}
						}
					}

					span {
						display: block;
						font-size: 13px;
						opacity: 0.7;
					}
				}

				&:nth-of-type(5n+1) {
					clear: left;
				}

			}
		}
	}
}

.next-premieres {
	position: relative;
	width: 100%;
	padding: 25px 0;
	margin-top: 40px;
	text-align: center;
	background-color: lighten($light-gray, 5%);


	.info {
		text-align: left;
		padding: 5px;
	}

	.titleCommingSoon {
		font-size: 34px;
		font-weight: 100;
		margin: 40px 0 50px;
		color: $dark-gray;
	}

	.movies {
		position: relative;
		&:before{
			@include gradientHorizontal(#eff4f7,rgba(#eff4f7,0));
			width: 20px;
			height: 100%;
			position: absolute;
			top:0;
			left:0;
			content: " ";
			display: block;
			z-index:2;
		}
		&:after{
			@include gradientHorizontal(rgba(#eff4f7,0),#eff4f7);
			width: 20px;
			height: 100%;
			position: absolute;
			top:0;
			right:0;
			content: " ";
			display: block;
			z-index:2;
		}
	}

	.movies-list{
		//width: 10000px;
		vertical-align: top;
		display: inline-block;
		text-align: center;
		overflow: hidden;
	}
	.antiscroll-wrap{
		position: relative;
		overflow: hidden;
		overflow-x: auto;
		padding-bottom: 15px;
	}

	.movie {
		padding: 0 15px;
		//@include span(2);
		float: left;
		display: inline-block;
		vertical-align: top;
		width: 190px;
		.image-container {
			position: relative;
		}

		img {
			width: 100%;
			display: block;
			@include border-radius(3px);
		}

		h2 {
			margin-bottom: 10px;
			font-size: 15px;
			font-weight: normal;
		}

		span {
			display: block;
			text-align: left;
			font-size: 13px;
			color: $gray;
		}

		a {
			font-size: 14px;
			color: $gray;
			line-height: 1.5;
		}

		.date {
			color: #CC0017;
		}

		.presale {
			background: #FECC00;
			padding: 3px 10px;
			position: absolute;
			top: 7px;
			left: 0px;
			color: #353637;
		}
	}
}