.movie-detail-container {
  .big-cover {
    position: relative;
    height: 440px;
    color: #fff;
    background: $light-gray url(../img/birdman-cover.jpg) no-repeat center center;
    background-size: cover;

    .col-container {
      position: relative;
      height: 440px;
      z-index: 2;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 200px;

      //background-color: transparent;
      //background-repeat: repeat-y;

     @include gradientVertical(transparent,#000 );
    }

    .likes {
      position: absolute;
      bottom: 15px;
      right: 0;
      padding-left: 24px;
      font-size: 14px;
      background: url(../img/like.png) no-repeat left center;
      background-size: 16px;
    }
  }

  header {
    position: absolute;
    bottom: 15px;
    left: 260px;
  }

  h1 {
    position: relative;
    padding-bottom: 15px;
    font-size: 42px;
    font-weight: 300;

    &:after {
      content: '';
      position: absolute;
      bottom: 8px;
      left: 0;
      width: 100px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .movie-information {
    position: relative;

    .col-container {
      padding: 20px;
    }

    .sinopsis {
      display: inline-block;
      width: span(11);
      vertical-align: top;

      h2 {
        margin-bottom: 15px;
        font-size: 27px;
        font-weight: 300;
        color: $gray;
      }

      p {
        font-size: 15px;
        line-height: 1.5;
        color: $gray;
      }
    }

    .cover-container {
      float: left;
      margin-top: -120px;
      margin-right: 20px;
      margin-bottom: 5px;

      img {
        border-radius: 3px;
        border: 2px solid #fff;
      }
    }

    .movie-gallery-container {
      position: relative;
      width: 100%;
      height: 120px;
      margin-top: 40px;
      margin-bottom: 40px;
      overflow: hidden;

      img {
        height: 120px;
        margin-right: 2px;
      }
    }

    .buy-tickets {
      width: span(12);
      margin-left: span(2) + gutter();
      margin: 0 auto;

      h2 {
        margin-bottom: 5px;
        color: $red;
      }

      h3 {
        margin-bottom: 20px;
        font-size: 27px;
        font-weight: 300;
      }

      p { font-size: 16px; }

      .filter {
        margin-top: 20px;
        margin-bottom: 20px;

        .label { display: block; }

        .input,
        .selected-complex {
          display: inline-block;
          width: 48%;

          &:nth-of-type(1) { margin-right: 3%; }
        }
      }

      .label {
        display: inline-block;
      }

      .schedules {
        padding-left: 0;

        .schedule {
          ul { width: 79%; }
        }
      }
    }
  }

  .movie-detailed-info {
    display: inline-block;
    width: span(4);
    margin-left: span(1) + gutter();

    .watch-trailer {
      display: block;
      padding: 8px 14px;
      margin-top: 5px;
      margin-bottom: 40px;
      border: 2px solid $green;
      text-align: center;
      color: $green;
      background: url(../img/green-camera-icon.png) no-repeat 15px center;
      border-radius: 30px;

      transition: border-color 0.2s ease-in-out;
      -webkit-transition: border-color 0.2s ease-in-out;
      -moz-transition: border-color 0.2s ease-in-out;

      &:hover { border-color: lighten($green, 15%); }
    }

    .info {
      font-size: 14px;
      margin-bottom: 15px;

      strong {
        display: block;
        margin-bottom: 3px;
        font-weight: bold;
      }

      .value {
        display: block;
        margin-bottom: 2px;
        color: $gray;
      }
    }

    .vertical-banner {
      margin-top: 20px;

      img { border-radius: 3px; }
    }
  }
}