#register-container {
  .social-connect,
  form {
    width: span(8);
    margin-left: span(4) + gutter();
    margin-bottom: 20px;
  }

  .social-connect {

    .social-networks {
      margin-top: 15px;
    }

    .social-network {
      display: inline-block;

      a {
        display: inline-block;
        padding: 10px 25px;
        background-color: #3b5998;
        border-radius: 3px;
        color: #fff;

        @include transition(opacity 0.2s ease-in-out);

        &.google { background-color: #de4b39; }

        &:hover { opacity: 0.7; }
      }
    }
  }

  form {
    overflow: hidden;
    margin-bottom: 60px;

    .title {
      position: relative;
      display: block;
      margin: 60px 0;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      color: #5e6364;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 64px;
        height: 1px;
        background-color: #5e6364;
      }

      &:before { left: 0; }
      &:after { right: 0; }
    }

    .input {
      margin-bottom: 15px;

      &.use-conditions {
        font-size: 14px;
      }

      a {
        padding-bottom: 1px;
        color: #3498db;
        font-weight: bold;

        &:hover {
          border-bottom: 1px solid #3498db;
        }
      }
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: bold;
    }

    input {
      &[type=text],
      &[type=password] {
        width: 100%;
        border-color: #bbc6c9;
        border-radius: 3px;

        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      float: right;
      height: 40px;
      width: 200px;
      margin-top: 40px;
      border: none;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      background-color: #05b558;
      border-radius: 3px;
      cursor: pointer;

      @include transition(opacity 0.2s ease-in-out);

      &:hover { opacity: 0.7; }
    }
  }
}