#services-container {
  .services {
    @include span(12);

    margin-left: span(2) + gutter();
    margin-bottom: 80px;

    .service {
      @include span(8);

      padding: 0 48px 30px 48px;
      margin-bottom: 10px;
      font-size: 20px;
      background-position: left top;
      background-repeat: no-repeat;
      background-size: 32px;
      background-image: url(../img/service-credit-card-icon.png);

      &:nth-of-type(2n + 1) {
        clear: left;
      }
    }
  }

  .service-gallery {
    width: 100%;
    margin-top: 15px;

    .service-picture {
      display: inline-block;
      width: 64px;

      @include transition(opacity 0.2s ease-in-out);

      &:hover {
        opacity: 0.7;
      }
    }
  }
}