#SessionCheckout{
  .big-cover {

    position: relative;

    color: #fff;

    background-color: #fff;


    //-moz-background-blend-mode: luminosity;
    //background-blend-mode: luminosity;

    .bg{
      -moz-filter: blur(10px);
      -webkit-filter: blur(10px);
      filter: url(../img/blur.svg#blur);
      filter: blur(10px);
      filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
      height: 220px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .col-container {
      position: relative;
      z-index: 2;
    }
    header{
      position: absolute;
      bottom: 15px;
      padding-left: span(4)+gutter();
      overflow: hidden;
      width: 100%;
      text-shadow: 0px 0px 10px #000
    }

    h1 {
      position: relative;
      padding-bottom: 15px;
      padding-left:20px;
      font-size: 50px;
      font-weight: 100;
      @include text-overflow();


      &:after {
        content: '';
        position: absolute;
        bottom: 8px;
        left: 20px;
        width: 100px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
    p{
      font-size: 24px;
      font-weight: 200;
      padding-left:20px;
      @include text-overflow();
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 300px;

      @include gradientVertical(transparent,#000 );
    }

    &:before {
      //content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(240, 139, 36, 0.3);
    }

    &.image-not-founded {
      height: 135px;

      .col-container { height: 135px; }

      h1 { color: $dark-gray; }

      &:before,
      &:after {
        background: transparent;
      }
    }
  }



  .movie-information{
    position: relative;
    padding-bottom: 50px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 100px;
  }

  .movie-details{
    @include span(8);
    .info{
      margin-top: 10px;
      font-size: 18px;
      strong{
        display: inline-block;
        width: 120px;
      }
      .value{
        font-weight: 200;
      }
      .premier{
        background: #e5c90c;
        padding: 1px 3px;
      }
    }
  }
  .schedule{
    @include span(4);
    text-align: center;
    background: #00cc67;
    padding: 20px 0;
    margin-top: 20px;
    .title{
      font-size: 24px;
      color: #004422;
    }
    .value{
      display: block;
      font-weight: 100;
      color:#fff;
      font-size: 46px;
      margin-bottom: 10px;
    }
    .btn{
      background: #006935;
      font-size: 14px;
      color: #ffffff;
      padding: 3px 10px;
      margin-top: 10px;
      @include border-radius(4px);
    }
  }

  .cover-container{
    @include span(4);
    margin-top: -150px;
    img{
      width: 100%;
      display:block;
      @include border-radius(4px);
    }
  }

  /* BOLETOS */

  .ticketsSelection{
    padding-bottom: 50px;
    margin-bottom: 100px;

    #ticketsAnchor{
      position: relative;
      top: -120px;
    }

    table{
      @include span(10);
      margin-left: span(1)+gutter();
      font-size: 18px;
      color: #565656;
      tbody{
        td,th{
          border-top: 1px solid #f1f1f1;
          padding:20px 5px;
          color: #686868;
          font-weight: normal;
          vertical-align: middle;
        }
        th{
          color: #434343;
          font-size: 20px;
          text-align: left;
        }
      }
      .buttons{
        padding: 10px;
      }
      .subtotal{
        text-align: center;
        width: 100px;
      }
      .cantidad{
        line-height: 40px;
        float: left;
        display: inline-block;
        padding: 0 10px;
        font-size: 24px;
        width: 42px;
        text-align: center;
      }
      .less{
        cursor: pointer;
        float: left;
        border: 2px solid #D10014;
        color: #fff;
        background: #fff;
        font-size: 40px;
        font-family: Arial;
        width: 40px;
        height: 40px;
        line-height: 30px;
        position: relative;
        @include border-radius(50%);
        &:before{
          content: " ";
          border:0;
          border-top: 3px solid #D10014;
          width: 15px;
          display: block;
          position: absolute;
          top: 17px;
          left: 11px;
        }
        &:hover{
          background: lighten(#D10014,50);
          color:lighten(#D10014,50);
        }
      }
      .plus{
        cursor: pointer;
        float: left;
        border: 2px solid #00CC67;
        color: #fff;
        background: #fff;
        font-size: 40px;
        font-family: Arial;
        width: 40px;
        height: 40px;
        position: relative;
        @include border-radius(50%);
        &:before{
          content: " ";
          border:0;
          border-top: 3px solid #00CC67;
          height:0;
          width: 15px;
          display: block;
          position: absolute;
          top: 17px;
          left: 11px;
          background: transparent;
        }
        &:after{
          content: " ";
          border:0;
          border-left: 3px solid #00CC67;
          width: 0;
          height: 15px;
          display: block;
          position: absolute;
          top: 11px;
          left: 17px;
          background: transparent;
        }
        &:hover{
          background: lighten(#00CC67,50);
          color: lighten(#00CC67,50);
        }
      }
    }
  }

  .total{
    margin-top: 40px;
    @include span(5);
    color: #777777;
    text-align: center;
    font-size: 18px;
    .title{
      font-size: 30px;
    }
    .value{
      color: #00cc67;
      font-size: 48px;
      display:block;
    }
  }

  .loyaltyCard{
    @include span(10);
    margin-left: span(1)+gutter();
    margin-top: 40px;
    label{
      display:block;
    }

    @include with-layout(10) {
      .input{
        overflow: hidden;
        input{
          @include span(6);
          margin-left: 0;
          @include border-radius(5px);
        }
        .btn-primary{
          font-size: 18px;
          @include span(4);
          margin:0;
        }
      }
    }
  }

  .seatsSelection{
    border-top: 1px solid #f1f1f1;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    position: relative;
    .stepTitle{
      strong{
        &:before{
          content:"2";
        }
      }
    }

    .loadingSeats{
      font-size: 30px;
      text-align: center;
      color: darken($light-gray,10);
      font-weight: 100;
      margin:100px 0;
      .icon-loading{
        background: url(web/preloader_10-64.gif) no-repeat center;
        width: 64px;
        height: 64px;
        display: inline-block;
      }
    }

    .room-container{
      border: 0;
      margin: 10px auto 100px;
      font-family: "Open Sans","Raleway","Helvetica Neue",Helvetica,Arial;
      text-align: center;
      color:#313131;

      .layout{
        margin:0 auto;
        //border-collapse: separate;
        //border-spacing: 2px;
        tr:nth-child(odd) td{
          background: #f1f1f1;
        }
      }

      .screen{
        margin:20px 50px;
        background:#f1f1f1;
        padding: 10px 0;
        position: relative;
        overflow: hidden;
        font-size: 20px;
        font-weight: 100;
        padding-top:20px;
        &:before{
          content:" ";
          width: 100px;
          height: 100px;
          display:block;
          position: absolute;
          top:0;
          left:-35px;
          background: #fff;
          @include rotate(60deg);
        }
        &:after{
          content:" ";
          width: 100px;
          height: 100px;
          display:block;
          position: absolute;
          top:0;
          right:-35px;
          background: #fff;
          @include rotate(25deg);
        }
      }

      /*td{
        width: 50px;
      }*/
      img{
        width: 100%;
        display:block;
        visibility: hidden;
      }

      .room-layout-row{
        white-space: nowrap;

      }
      .row{
        line-height: 100%;
        width: $widthSeat;
      }

      td{
        width: $widthSeat;
        max-width: $maxWidthSeat;
        min-width: $minWidthSeat;
        border: 5px 2px;
        border-color:#fff;
        position: relative;
        vertical-align: middle;
      }
      .seat{
        display:block;
        text-align: center;
        margin:14px 1px;
      }
      .number{
        width: 100%;
        text-align: center;
        position: absolute;
        top:0;
        left:0;
        font-size: 12px;
      }
      /*.individual{
        width: auto;
      }*/
      .empty{
        width: $widthSeat;
        max-width: $maxWidthSeat;
        min-width: $minWidthSeat;
      }
      .status-0 {
        .seat {
          background: url("../img/seat-0.png") center no-repeat;
          background-size: 100% auto;
          border-top: 0;
          cursor: pointer;
          &:hover{
            background: url("../img/seat-hover.png") center no-repeat;
            background-size: 100% auto;
          }
        }
        &.Multi-End .seat{
          background: url("../img/Multi-End-0.png") center no-repeat;
          background-size: 100% auto;
          &:hover{
            background: url("../img/Multi-End-hover.png") center no-repeat;
            background-size: 100% auto;
          }
        }
        &.Multi-Start .seat{
          background: url("../img/Multi-Start-0.png") center no-repeat;
          background-size: 100% auto;
          &:hover{
            background: url("../img/Multi-Start-hover.png") center no-repeat;
            background-size: 100% auto;
          }
        }
      }
      .status-1 {
        .seat {
          background: url("../img/seat-1.png") center no-repeat;
          background-size: 100% auto;
          border-top: 0;
          color:#fff;
        }
        &.Multi-End .seat{
          background: url("../img/Multi-End-1.png") center no-repeat;
          background-size: 100% auto;
        }
        &.Multi-Start .seat{
          background: url("../img/Multi-Start-1.png") center no-repeat;
          background-size: 100% auto;
        }
      }

      .status-selected {
        .seat {
          background: url("../img/seat-selected.png") center no-repeat;
          background-size: 100% auto;
          border-top: 0;
          color:#fff;
        }
        &.Multi-End .seat{
          background: url("../img/Multi-End-selected.png") center no-repeat;
          background-size: 100% auto;
        }
        &.Multi-Start .seat{
          background: url("../img/Multi-Start-selected.png") center no-repeat;
          background-size: 100% auto;
        }
      }

      .status-3 {
        .seat {
          background: url("../img/seat-0.png") center no-repeat;
          background-size: 100% auto;
          border-top: 0;
          @include opacity(.5);
        }
        &.Multi-End .seat{
          background: url("../img/Multi-End-0.png") center no-repeat;
          background-size: 100% auto;
        }
        &.Multi-Start .seat{
          background: url("../img/Multi-Start-0.png") center no-repeat;
          background-size: 100% auto;
        }
      }

      .Multi-Start{
        @include box-sizing(content-box);
        .number{
          padding-right: 15px;
        }
        //margin-right: 10px;

      }

      .Multi-End{
        //width: 50px;
        .number{
          padding-left: 15px;
          //margin-left: 10px;
        }

      }

      .individual + .Multi-End{
        //margin-left:10px;
      }

      .loveSeats{
        .row{
          //width: 50px;
        }
        .seat{
          font-size: 16px;
          //width: 50px;
          height: 42px;
          padding-top:4px;
        }
        .empty{
          //width: 50px;
        }
      }

      .instructions{
        padding: 20px 0;
        font-weight: 100;
        vertical-align: middle;
        line-height: 20px;
        .available{
          margin-right: 30px;
          &:before{
            content: " ";
            width: 20px;
            height: 20px;
            margin-right: 20px;
            background: #c8c8c8;
            @include border-radius(50%);
            display: inline-block;
          }
        }
        .unavailable{
          margin-right: 30px;
          &:before{
            content: " ";
            width: 20px;
            height: 20px;
            margin-right: 20px;
            background: #F50A29;
            @include border-radius(50%);
            display: inline-block;
          }
        }
        .yourseats{
          margin-right: 30px;
          &:before{
            content: " ";
            width: 20px;
            height: 20px;
            margin-right: 20px;
            background: #EFBA62;
            @include border-radius(50%);
            display: inline-block;
          }
        }
      }
    }
    .message{
      background: rgba(255,255,255,.6);
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      display: none;
      //@include opacity(0);
      .content{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        padding: 30px 30px;
        text-align: center;
        background: #fecc00;
        @include translate(-50%,-50%);
        @include border-radius(4px);
        @include box-shadow(0 1px 2px rgba(0,0,0,.2));
      }

      .btn{
        margin: 20px 0 0;
        display: inline-block;
        &:hover{
          opacity: 1;
          background-color: lighten(#cfd5d7,5);
        }
      }
    }
  }

  .stepTitle{
    text-align: center;
    margin-bottom: 50px;
    strong{
      color: #f18932;
      font-size: 30px;
      font-weight: 300;
      position: relative;
      &:before{
        position: absolute;
        top:-5px;
        left: -50px;
        border: 3px solid #f9cca7;
        width: 40px;
        height: 40px;
        @include border-radius(50%);
        display: inline-block;
        margin-right: 10px;
        content:"1";
        line-height: 33px;
      }
    }

  }

}


