label {
  display: inline-block;
  vertical-align: top;
}

input,
textarea,
select {
  padding : 8px;
  font-size : 1em;
  border : 2px solid #ccc;
  background : #fff;

  &:focus {
    border-color : darken(#ccc,10);
    background : #fafafa;
  }
}

select {
  height : 40px;
}

.filter-select {

  .select{
    position: relative;
    cursor: pointer;
    select{
      position: absolute;
      top:0;left:0;
      width: 100%;
      height: 100%;
      @include opacity(0);
    }
    label{
      display: block;
      padding: 8px 15px;
      margin-bottom: 10px;
      font-size: 14px;
      color: #fff;
      background: #55595c url(../img/custom-select-arrow.png) no-repeat 95% center;
      background-size: 20px;
      border-radius: 3px;
    }
    &:hover{
      @include opacity(0.5);
    }
  }

  & > a {
    display: block;
    padding: 8px 15px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
    background: #55595c url(../img/custom-select-arrow.png) no-repeat 95% center;
    background-size: 20px;
    border-radius: 3px;

    strong {
      font-weight: bold;
      color: $yellow;
    }
  }

  ul {
    display: none;
  }
}