body {
  padding-top: 108px !important;
}

#main-header {
  position: fixed;
  width : 100%;
  height: 108px;
  top: 0;
  left: 0;
  padding : 10px;
  text-align: center;
  background : #fff;
  z-index: 999999;

  transition: height 0.2s ease-in-out;
  -webkit-transition: height 0.2s ease-in-out;
  -moz-transition: height 0.2s ease-in-out;

  #logo {
    margin-right: 80px;
    float: left;

    img {
      height: 82px;

      transition: height 0.2s ease-in-out;
      -webkit-transition: height 0.2s ease-in-out;
      -moz-transition: height 0.2s ease-in-out;
    }
  }

  .account-container {
    float: right;
    margin-top: 28px;

    transition: margin 0.2s ease-in-out;
    -webkit-transition: margin 0.2s ease-in-out;
    -moz-transition: margin 0.2s ease-in-out;

    li {
      display: inline-block;

      &:first-child { padding-right: 25px; }

      a {
        display: inline-block;
        padding: 3px;
        color: $gray;

        transition: font-size 0.2s ease-in-out;
        -webkit-transition: font-size 0.2s ease-in-out;
        -moz-transition: font-size 0.2s ease-in-out;

        &:hover {
          color: lighten($gray, 15%);
        }
      }
    }
  }

  &.sticky {
    height: 68px;

    #logo {
      img {
        height: 46px;
      }
    }

    #header-location-select {
      margin-top: 11px;

      a {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }

    .account-container {
      margin-top: 10px;

      a {
        font-size: 14px;
      }
    }
  }
}