#main-header {
  width : 100%;
  top: -48px;
  background : #fff;
  padding : 10px;

  transition: top 0.2s ease-in-out;
  -webkit-transition: top 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out;

  #logo {
    margin-right: 80px;
    float: left;
  }

  .account-container {
    float: right;
    margin-top: 25px;

    li {
      display: inline-block;

      &:first-child { padding-right: 25px; }

      a {
        display: inline-block;
        padding: 3px;
        color: $gray;

        &:hover {
          color: lighten($gray, 15%);
        }
      }
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    padding: 0;
    z-index: 999999;

    #logo {
      margin-top: 6px;
      //margin-right: 150px;

      img {
        width: auto !important;
        height: 36px;
      }
    }

    #header-location-select {
      margin-top: 11px;

      a {
        border-radius: 0;
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }

    .account-container {
      margin-top: 10px;

      a {
        font-size: 14px;
      }
    }
  }
}